* {
  box-sizing: border-box;
}

.nav-button {
  border: 5px solid #1c5cd4;
  border-radius: 12px;
  background: #f0d53b;
  color: #020202;
  padding: 15px;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: background-color 0.7s, opacity 0.7s, color 0.7s;
}

.nav-button:hover {
  opacity: 0.7;
  background-color: #b84141;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between; /* Mantém os itens distribuídos corretamente */
  padding: 15px 30px;
  background-color: #333;
  color: white;
}
